/* ------------------- GLOBAL --------------- */
body{
    overflow-x: hidden;
    background-image: url("images/section_bg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-bottom: 40px;
}
.pad-top{
    padding-top: 80px;
}
.whitespace-30{
    height: 30px;
}

.cta{
    margin-top: 10px;;
    background: white;
    display: inline-block;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: solid 2px white;
    transition: all 0.2s;
    color:#008290;
}
.cta:hover{
    text-decoration: none;
    background: transparent;
    color:white;

}


/* ------------------- NAVBAR --------------- */
.nav-bg{
    background-image: url("images/background.jpg");
    background-size: 100%;
    padding: 5px 7%;
}
.nav-right{
    flex-flow: row-reverse;
}
.nav-white a{
    color:#ffffffb3!important;
    font-weight: 500;
    transition: all 0.2s ease;
}
.nav-white a:hover{
    color:white!important;
}

/* ------------------- HOMEPAGE --------------- */
.div-bottom{
    align-self: flex-end;
}
.progres-text{
    font-size:32px;
    font-weight: 500;
    margin-bottom: 20px;
}
.pp{
    border-radius: 15px;
}
.cards{
    position: relative;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
    background-color: #ffffff80;
    margin-right: 50px;
    padding: 0px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    font-size:16px;
    color:black;
    font-weight: 500;
    border: solid 3px transparent;
    transition: all 0.15s ease-in;
}
.cards a{
    display: flex;
    align-content: space-around;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    color:black;
}
.cards img{
    margin-top: 30px;
    margin-bottom: 20px;
}
.cards p{
    margin-bottom: 20px;
}
.cards:hover{
    background-color: #ffffffa6;
    border-color: white;
    text-decoration: none!important;
}
.cards a:hover{
    text-decoration: none!important;
}
.username{
    font-size: 28px;
    margin-bottom: -10px;
    font-weight: 100;
}

/* ------------------- ALBUM --------------- */

.sticker-row{
    display: flex;
}
.sticker-row div{
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px white;
    width: 150px;
    height: 150px;
}
.sticker-row .m_s{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ------------------- PROFILE --------------- */

.file_upl{
    margin-left:20px;
}
.flex-bot{
    display: flex;
    align-items: baseline;
}

/* ------------------- STICKERS --------------- */

.inp-st{
    border: 1px solid white;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position:relative;   
    cursor:pointer;
    font-weight: 600;
}
.inp-st [type="checkbox"] {
    display:none;
}
[type="checkbox"] + span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
:checked + span {
    width: 100%;
    background:#0f0;  
    display: inline-flex;
    align-items: center;
}
[type="checkbox"][disabled] + span {
    width: 100%;
    background:white;  
    color:#008290;
}

/* ------------------- LOGIN --------------- */

.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-height{
    height: 95vh;
}
.flex-box main{
    width: 30%;
}
.flex-box .btn-group-lg>.btn, .btn-lg{
    margin-top: 30px!important;
}

.white-link{
    color:white;
    font-weight: 600;
}
.white-link:hover{
    color:white;
}

.form-info{
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    font-size:22px;
    font-weight: 600;
    color:rgb(255, 255, 255);
}
/* ------------------- BOOTSTRAP OVERRIDE --------------- */
.progress{
    height: 1.5rem!important;
}